<!DOCTYPE html>
<html dir="ltr" lang="fr">
  <head>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    {{!-- CSS LINKS HERE --}}
    {{#each stylesheets }}
    <link rel='stylesheet' href='/stylesheets/{{ this }}'>
    {{/each}}
    {{!-- SCRIPTS LINKS HERE --}}
    {{#each scripts }}
    <script src="/javascripts/{{ this }}"></script>
    {{/each}}
  </head>
  <body>
    {{{ body }}}
  </body>
</html>
