@import url(./framework.css);

body * {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
  color: inherit;
}

main form {
  padding-top: 20px;
  align-self: center;
}

main form input[name="token"] {
  background: #cccccc;
  height: 30px;
  flex: 0.79;
  border-radius: 10px;
  border: 1px #bebebe solid;
  font-size: 1em;
}

main form input[name="token"]:focus {
  background: #d4d4d4;
}

main form input[type="submit"] {
  -webkit-appearance: none;
  background: #23a5fc;
  height: auto;
  font-size: 1em;
  border: none;
  height: 34px;
  border-radius: 5px;
  cursor: pointer;
}

main form input[type="submit"]:focus {
  background: #2f8ac7;
}

main form input[type="submit"]:disabled {
  background: #2f8ac7;
}

#tester {
  border-radius: 10px;
  background: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

#tester h2 {
  padding-top: 20px;
}

#botInfo {
  margin-bottom: 25px;
}

#resetButton {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 1.2em;
  background: none;
  border: none;
  -webkit-appearance: none;
  cursor: pointer;
}

#resetButton:active {
  outline: none;
  color: #464646;
}

#resetButton:focus {
  outline: none;
}